<script type="text/x-red" data-template-name="ejs">
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> <span data-i18n="ejs.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]ejs.name">
  </div>

  <div class="form-row">
    <label for="node-input-ejs"><i class="icon-wrench"></i> <span data-i18n="ejs.ejs.label"></span></label>
    <input type="hidden" id="node-input-ejs" autofocus="autofocus">
    <div style="height: 250px;" class="node-text-editor" id="node-input-ejs-editor"></div>
  </div>

</script>

<script type="text/x-red" data-help-name="ejs">
  <p>Creates a new payload based on the provided template.</p>
  <p>This uses the
  <i><a href="https://github.com/visionmedia/ejs" target="_new">ejs</a></i>
  format.</p>
  <p>For example, when a template of:</p>
  <pre>Hello <%= name %>. Today is <%= date %></pre>
  <p>receives a message containing:</p>
<pre>
{
  name: "Fred",
  date: "Monday"
  payload: ...
}</pre>
  <p>The resulting payload will be:</p>
  <pre>Hello Fred. Today is Monday</pre>
</script>

<script type="text/javascript">
  RED.nodes.registerType('ejs',{
    color:"#eee",
    category: 'function',
    defaults: {
      name: {value:""},
      ejs: {value:"msg.payload = <%= payload %>;"}
    },
    inputs:1,
    outputs:1,
    icon: "template.png",
    label: function() {
      return this.name||"ejs";
    },
    oneditprepare: function() {

      function templateDialogResize(ev,ui) {
        $("#node-input-ejs-editor").css("height",(ui.size.height-200)+"px");
      };

      $("#dialog").on("dialogresize", templateDialogResize);
      $("#dialog").one("dialogopen", function(ev) {
        var size = $( "#dialog" ).dialog('option','sizeCache-template');
        if (size) {
          templateDialogResize(null,{size:size});
        }
      });
      $( "#dialog" ).one("dialogclose", function(ev,ui) {
        var height = $( "#dialog" ).dialog('option','height');
        $( "#dialog" ).off("dialogresize",templateDialogResize);
      });

      var that = this;
      require(["orion/editor/edit"], function(edit) {
        that.editor = edit({
          parent:document.getElementById('node-input-ejs-editor'),
          lang:"html",
          contents: $("#node-input-ejs").val()
        });
        RED.library.create({
          url:"ejs", // where to get the data from
          type:"ejs", // the type of object the library is for
          editor:that.editor, // the field name the main text body goes to
          fields:['name']
        });
        $("#node-input-name").focus();
      });
    },
    oneditsave: function() {
      $("#node-input-ejs").val(this.editor.getText())
      delete this.editor;
    }
  });

</script>
