<script type="text/x-red" data-help-name="ejs">
  <p>Creates a new payload based on the provided template.</p>
  <p>This uses the <i><a href="https://github.com/visionmedia/ejs" target="_new">ejs</a></i> format.</p>
  <p>For example, when a template of:</p>
  <pre>Hello <%= name %>. Today is <%= date %></pre>
  <p>receives a message containing:</p>
  <pre>
{
  name: "Fred",
  date: "Monday"
  payload: ...
}</pre>
  <p>The resulting payload will be:</p>
  <pre>Hello Fred. Today is Monday</pre>
</script>
